<ul class="pagination">
    <a href="#" class="pagination__prev">
        <svg width="21" height="9">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-pagination-left"></use>
        </svg>
        Назад
    </a>
    <li class="pagination-el">
        <a href="#" class="pagination-el__link">1</a>
    </li>
    <li class="pagination-el">
        <a href="#" class="pagination-el__link pagination-el__link--active">2</a>
    </li>
    <li class="pagination-el  active">
        <a href="#" class="pagination-el__link">3</a>
    </li>
    <li class="pagination-el">
        <a href="#" class="pagination-el__link">4</a>
    </li>
    <li class="pagination-el">
        <a href="#" class="pagination-el__link">5</a>
    </li>
    <li class="pagination-el">
        <a href="#" class="pagination-el__link">6</a>
    </li>
    <li class="pagination-el">
        <a href="#" class="pagination-el__link">7</a>
    </li>
    <li class="pagination-el">
        <span class="pagination-el__link">&hellip;</span>
    </li>
    <li class="pagination-el">
        <a href="#" class="pagination-el__link">10</a>
    </li>
    <a href="#" class="pagination__next">
        вперед
        <svg width="21" height="9">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-pagination-right"></use>
        </svg>
    </a>
</ul>